/*  COMMON - may move elsewhere
    ============================= */
* {
    box-sizing: border-box;
}
.uppercase {
    text-transform: uppercase;
}
.color-brand-primary {
    color: $brand-primary;
}
.block-image {
    display: block;
    width: 100%;
}
.section-860, .section-1080 {
    margin: 0 auto;
}
.section-860 {
    max-width: 860px;
}
.section-1080 {
    max-width: 1080px;
}
.section-h-padding {
    @media screen and (max-width: 767px) and (orientation: portrait){
        padding-left: 20px;
        padding-right: 20px;        
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        padding-left: 3.75em;
        padding-right: 3.75em;
    }
}
.section-v-padding {
    @media screen and (max-width: 767px) and (orientation: portrait){
        padding-top: 3.125em;
        padding-bottom: 3.125em;        
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        padding-top: 3.75em;
        padding-bottom: 3.75em;
    }
}
.section-v-margin {
    @media screen and (max-width: 767px) and (orientation: portrait){
        margin: 5em 0;
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        margin: 7.5em 0;
    }
}
.no-margin-children {
    & > * {
        margin: 0;
    }
}
.absolute-full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.font-light {
    font-weight: 200;
}
.font-bold {
    font-weight: 600;
}
.zoom-image {
    overflow: hidden;
    img {
        transition: transform 0.25s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }  
}
.desktop-narrow-cols {
    @media not screen and (max-width: 767px) and (orientation: portrait){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > div {
            width: 47.20930232558139%;
        }        
    }
}
.arrow-marker-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding-left: 1.444em;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            top: .611em;
            content: '';
            display: block;
            width: .555em;
            height: .3888889em;
            background-image: url(theme/assets/img/list-arrow-marker.png);
            background-size: cover;
        }
    }
    &.arrow-marker-list--up li::before {
        transform: scaleY(-1);
    }
}


/*  HERO
    ============================= */
.hero {
    overflow: hidden;
    img {
        display: block;
        width: 100%;
    }
    &__animated-subjects {
        position: relative;
    }
    &__animated-subject {
        display: block;
        &:first-child {
            position: relative;
        }
        &:not(:first-child) {
            @extend .absolute-full;
        }
        figcaption {
            position: absolute;
            left: 0;
            display: block;
            font-size: .875em;
            line-height: 1.285714em;
            strong {
                display: block;
            }
            text-align: right;
            opacity: 0;
            transform: translateY(20%);
            transition: .4s all .6s ease-in-out;
        }
        opacity: 0;
        &.hero__animated-subject--active {
            animation-name: slideLeft;
            animation-duration: 4.5s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease-in-out;
            transform-origin: center bottom;
            figcaption {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        padding: 3.75em 0 0 0;
        &__image {
            margin: 1.875em 0 0 0;
            width: 100vw;
        }
        img {
            width: 120%;
            margin-right: -20%;            
        }
        &__content {
            padding: 0 20px;
        }
        &__animated-subject {
            figcaption {
                width: 13.076em;
                padding-left: 20px;
                font-size: .8125em;
                bottom: 40px;
            }            
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        padding: 5em 0 0 0;
        &__columns {
            display: flex;  
            justify-content: space-between;     
            min-height: auto;     
            margin: 0 auto;
            max-width: calc(1080px + 7.5em);
            padding: 0 3.75em;
        }
        &__content {
            padding: 2.25em 0;
            width: 49.074074074074076%;
        }
        &__image {
            display: flex;
            align-items: flex-end;
            width: 40.74074074074074%;
        }
        &__animated-subjects {
            width: 152.27272727272728%;
            margin-right: -52.27272727272728%;
        }
        &__animated-subject {
            figcaption {
                bottom: 15%;
                padding-left: 4em;
            }            
        }
    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        &__content {
            padding-top: 0;
        }
        &__image {
            transform: translateX(-20%);
        }      
    }
    @media (min-width: 768px) and (max-width: 1340px) and (orientation: landscape){
        &__image {
            transform: translateX(-20%);
        }
        &__content {
            width: 44%;
        }
    }
}

/*  IMAGE & COPY
    ============================= */
.image-copy {
    overflow: hidden;
    img {
        display: block;
        width: 100%;
    }
    .button {
        margin-top: 20px;
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        padding-left: 20px;
        padding-right: 20px;
        .desktop {
            display: none;
        }
        &__copy {
            margin-top: 30px;
        }
        &[class*='image-copy--padding'] {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        &[class*='image-copy--margin'] {
            margin-top: 80px;
            margin-bottom: 80px;
        }
        &.image-copy--has-tile {
            img {
                width: 100vw;
                margin-left: -20px;
                margin-right: -20px;
            }
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        &__columns {
            padding: 0;
            display: flex;            
        }
        .mobile {
            display: none;
        }
        &.image-copy--align-top .image-copy__columns {
            align-items: flex-start;
        }
        &.image-copy--align-center .image-copy__columns {
            align-items: center;
        }
        &.image-copy--align-bottom .image-copy__columns {
            align-items: flex-end;
        }
        &__image {
            width: 43.05555555555556%;
        }  
        &__image-wrapper {
            position: relative;
        }
        &__image-tile {
            position: absolute;
            width: 50vw;
            top: 0;
            bottom: 0;
            background-size: contain;
            background-repeat: repeat-x;
        }
        &__content {
            width: 56.94444444444444%;
        }  
        &.image-copy--image-left {
            & .image-copy__content {
                padding-left: 6.25%;
                padding-right: 12.5%;
            }
            .image-copy__image-tile {
                right: 100%;
            }
        }
        &.image-copy--image-right {
            .image-copy__image {
                order: 1;
            }
            & .image-copy__content {
                order: 0;
                padding-left: 12.5%;
                padding-right: 6.25%;
            }
            .image-copy__image-tile {
                left: 100%;
            }
        }
        & > div {
            flex: 1 0 auto;
        }    
        &.image-copy--padding-120 {
            padding: 120px 0;
        }
        &.image-copy--padding-180 {
            padding: 180px 0;
        } 
        &.image-copy--margin-120 {
            margin-top: 120px;
            margin-bottom: 120px;
        }
        &.image-copy--margin-180 {
            margin-top: 180px;
            margin-bottom: 180px;
        }  
    }
}

/*  BLUE CTA
    ============================= */
.blue-cta-right {
    position: relative;
    overflow: hidden;
    &__banner {
        background-color: $brand-primary;
    }
    &__heading, &__sub-heading {
        font-weight: 700;
    }
    &__heading {
        color: $brand-secondary-accent;
    }
    &__sub-heading {
        color: #fff;
        margin-top: .5em;
    }
    &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        right: 0;
        z-index: 0;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
        background-color: $brand-neutral-dark;
    }
    &__banner {
        position: relative;
        z-index: 1;
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        &__banner {
            padding: 1.875em;
            margin-left: 20px;
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        padding: 0 3.75em;
        &__banner {
            padding: 2.5em 0 2.875em 3.75em;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 64% 36%; 
            grid-template-rows: auto auto; 
            gap: 0px 0px; 
            grid-template-areas: 
                "heading cta"
                "subheading cta"; 
            &:after {
                content: '';
                background-color: $brand-primary;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 100%;
                width: 50vw;
            }
        }
        &__heading {
            grid-area: heading;
        }
        &__sub-heading {
            grid-area: subheading;
        }
        .button {
            margin-left: 1.25em;
            grid-area: cta;
            align-self: flex-end;
            justify-self: end;
        }
    }
}

/*  COPY & STATS
    ============================= */
.copy-stats {
    position: relative;
    &__content {
        @extend .no-margin-children;
    }
    &__heading:not(:last-child) {
        &:not(:last-child) {
            margin-bottom: .44em;
        }
    }
    &__sub-heading {
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
    &__copy {
        &:not(:last-child) {
            margin-bottom: 1.75em;
        }
    }
    &__items {
        margin-top: 1.875em;
    }
    &__item {
        img {
            @extend .block-image;
            margin: 0 auto 0.625em auto;
        }
        figcaption {
            font-size: .875em;
        }
    }
    &__stats {
        text-align: center;
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        &__content, &__stats {
            padding: 5em 1.25em;
        }
        &__content {
            background-color: $brand-neutral-dark;
        }
        &__item {
            img {
                max-width: 15.625em;
            }
            &:not(:last-child){
                margin-bottom: 2.25em;
            }
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        padding: 7.125em 3.75em;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: $brand-neutral-dark;
            z-index: 0;
        }
        &__columns {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__content, &__stats {
            width: 38.88888888888889%;
        }
        &__item {
            img {
                max-width: 17.5em;
            }
            &:not(:last-child){
                margin-bottom: 4em;
            }
        }
    }
}

.flex-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*  CENTERED STATS
    ============================= */
.centered-stats {
    text-align: center;
    background-color: $brand-neutral-med;
    &__heading, &__copy {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
    }
    &__copy {
        p {
            font-size: 1em;
        }
    }
    &__items {
        @extend .flex-items;
    }
    &__item {
        img {
            @extend .block-image;
            margin: 0 auto 0.625em auto;
        }
        figcaption {
            text-align: center;
        }
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        padding-top: 5em;
        padding-bottom: 5em;
        &__items {
            margin-top: 2.5em;
            &:last-child {
                margin-bottom: -3em;
            }
        }
        &__item {
            width: 44.77%;
            margin-bottom: 3em;
            figcaption {
                font-size: .75em;
                line-height: 1.333em;
            }
        }
        .button:not(:first-child) {
            margin-top: 1.875em;
        }
        &__items + .button {
            margin-top: 0;
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        padding-top: 7.5em;
        padding-bottom: 6.25em;
        &__items {
            margin-top: 3.75em;
            justify-content: center;
            gap: 11.1%;
            &:last-child {
                margin-bottom: -3.75em;
            }
        }
        &__item {
            width: 25.925925925925924%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 3.75em;
            figcaption {
                font-size: .875em;
                line-height: 1.285714em;
            }
        }
        .button:not(:first-child) {
            margin-top: 3.125em;
        }
        &__items + .button {
            margin-top: 0;
        }
    }

}

/*  YELLOW CTA
    ============================= */
.yellow-cta {
    &.yellow-cta--full-width, &__banner {
        background-color: $brand-secondary-accent;
    }
    &__content {
        @extend .no-margin-children;
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        &:not(.yellow-cta--full-width) {
            .yellow-cta__banner {
                padding: 1.875em 20px;
            }
        }
        &.yellow-cta--full-width {
            padding-top: 1.875em;
            padding-bottom: 1.875em;
        }
        &__sub-heading:not(:last-child) {
            margin-bottom: 0.375em;
        }
        &__heading:not(:last-child) {
            margin-bottom: 0.7em;
        }
        &__content:not(:last-child) {
            margin-bottom: 1.5em;
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        &:not(.yellow-cta--full-width) {
            .yellow-cta__banner {
                padding: 2.5em 3.75em;
            }            
        }
        &.yellow-cta--full-width {
            .yellow-cta__banner {
                padding: 2.5em 0;
            }
        }
        &__banner {
            display: flex; 
            align-items: center;
            justify-content: space-between;
        }
        &__content {
            width: 59.25925925925925%;
            margin-right: 3.75em;
        }        
        &__sub-heading:not(:last-child) {
            margin-bottom: 0.5em;
        }
        &__heading:not(:last-child) {
            margin-bottom: 0.444em;
        }
    }
}

/*  LOGOS
    ============================= */
.logos {
    text-align: center;
    &__heading, &__copy, &__items {
        text-align: left;
    }
    &__copy {
        p {
            font-size: 1em;
        }
    }
    &__items {
        @extend .flex-items;
        justify-content: center;    
    }
    &__item {
        img {
            @extend .block-image;
        }
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        &__heading:not(:last-child) {
            margin-bottom: .615em;
        }
        &__items {
            column-gap: 4.32835820895524%;
            row-gap: 1em;
            margin-top: 3em;
            &:not(:last-child) {
                margin-bottom: 3em;
            }
        }
        &__item {
            width: 30.447761194029848%;
        }        
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        &__heading, &__copy {
            max-width: 79.6%;
        }
        &__heading:not(:last-child) {
            margin-bottom: .444em;
        }        
        &__items {
            column-gap: 5.787037037%;
            row-gap: 1.5em;
            margin-top: 3.75em;
            &:not(:last-child) {
                margin-bottom: 3.75em;
            }            
        }
        &__item {
            width: 15.37037037037037%;
        }
    }
}

/*  QUOTE SLIDER
    ============================= */
.quote-slider {
    @include css-box-shadow;
    .quote-slider__slides {
        width: 100%;
        height: 100%;  
    }
    .quote-slider__slide {
        display: flex;
    }
    .quote-slider__slide-inner {
        display: flex;
    }
    .quote-slider__image {
        position: relative;
        img {
            object-fit: cover;
            @extend .absolute-full;
        }
    }
    .quote-slider__content {
        @extend .no-margin-children;
    }
    .quote-slider__quote {
        padding-left: 1.181818em;
        margin-bottom: 1em;
        border-left: .272727em solid $brand-secondary-accent;
        font-weight: 300;
    }
    .quote-slider__author {
        span {
            display: block;
        }
    }   
    @media screen and (max-width: 767px) and (orientation: portrait){
        .quote-slider__slide-inner {
            flex-direction: column;
        }
        .quote-slider__image {
            order: 0;
            aspect-ratio: 1.26 / 1;
        }
        .quote-slider__content {
            order: 1;
            padding: 1.875em 20px 7.75em 20px;
        }
        .quote-slider__author {
            padding-left: 1.5em;
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        aspect-ratio: 2.48 / 1;
        .quote-slider__slide-inner {
            padding-left: 11.574074074074074%;
            height: 100%;
        }
        .quote-slider__image {
            width: 34.55497382198953%;
        }
        .quote-slider__content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex: 1 0 auto;
            width: 65.44502617801047%;
            padding-right: 3.125em;
        }
        .quote-slider__author {
            padding-left: 2.444em;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        aspect-ratio: 1.9 / 1;
        .quote-slider__image {
            width: 38%;
        }
        .quote-slider__content {
            width: 62%;
        }
    }
}
<<<<<<< Updated upstream
=======
/*  SINGLE QUOTE
    ============================= */
    .quote-single {
        &__content {
            display:flex;
            flex-direction:column;
        }
        &__inner {
            align-items:flex-start;
            display:flex;
            justify-content: space-between;
        }
        &__quote {
            border-left:6px solid $brand-secondary-accent;
        }
        &__image {
            width:100%;
            img {
                display:block;
                width:100%;
            }
        }
        &__author {
            span {
                display:block;
                margin-top:8px;
            }
        }
        @media screen and (max-width: 767px) and (orientation: portrait){
            margin-bottom:calc(80/16 * 1em);
            padding-right:20px;
            padding-left:20px;
            &__author {
                padding-left:calc(24/16 * 1em);
            }
            &__quote {
                padding-left:calc(24/22 * 1em);
            }
            &__image {
                margin-bottom:calc(32/16 * 1em);
                max-width:100%;
            }
            &__inner {
                flex-direction:column-reverse;
            }
        }
        @media not screen and (max-width: 767px) and (orientation: portrait){
            margin-bottom:calc(120/16 * 1em);
            &__content {
                margin-left:calc(36/16 * 1em);
            }
            &__quote {
                padding-left:calc(36/22 * 1em);
            }
            &__author {
                padding-left:calc(36/16 * 1em);
            }
            &__image {
                max-width:calc(420/1080 * 100%);
                flex-shrink:0;
            }
            &__inner {
                flex-direction:row-reverse;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
        (min-width: 768px) and (max-width: 1080px) and (orientation: landscape){
            &__inner {
                padding-left:3.75em;
                padding-right:3.75em;
            }
        }
    }
>>>>>>> Stashed changes

/*  FEATURED POSTS
    ============================= */
.featured-posts {
    background-color: $brand-neutral-med;
    overflow: hidden;
    .section-1080 {
        @extend .no-margin-children;
    }
    &__heading, &__copy, &__cards {
        text-align: left;
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        text-align: right;
        &__heading:not(:last-child) {
            margin-bottom: .615em;
        }   
        .featured-posts__cards {
            margin-top: 2em;
            margin-left: -20px;
            margin-right: -20px;
        }
        .featured-posts__cta {
            margin-top: 1.875em;
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        text-align: center;
        &__heading, &__copy {
            max-width: 79.6%;
        }        
        &__heading:not(:last-child) {
            margin-bottom: .444em;
        } 
        .featured-posts__cards {
            margin-top: 2.5em;
        }
        .featured-posts__cta {
            margin-top: 2.5em;
        }
    }
}

/*  HEADER WITH ILLUSTRATION
    ============================= */
.header-illustration {
    overflow: hidden;
    .header-illustration__heading {
        position: relative;
        z-index: 1;
        max-width: 680px;
    }
    .header-illustration__inner {
        position: relative;
        &:after {
            position: absolute;
            z-index: 0;
            content: '';
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            background-image:url(theme/assets/img/illustrations/section-header-illustration.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        .header-illustration__inner {
            padding-top: 3.75em;
            padding-bottom: 1.25em;
            &:after {
                width: 145%;
                background-position: top;   
            }
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        .header-illustration__inner {
            padding-top: 7.5em;
            padding-bottom: 1.25em;
            &:after {
                width: 133.333%;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width:1279px){
        .header-illustration__inner {
            &:after {
                width: 150%;
            }
        }
    }
    @media screen and (min-width: 1280px) {
        .header-illustration__inner {
            &:after {
                background-position: bottom;   
            }
        }
    }
}

/*  TWO COLUMN BLOCK
    ============================= */
.two-col-block {
    .two-col-block__header {
        text-align: center;
        &.two-col-block__header--full {
            border-bottom: 2px solid  $brand-neutral-dark;
        }
        &.two-col-block__header--single {
            & > * {
                display: inline-block;
            }            
            .two-col-block__heading {
                &:after {
                    display: block;
                    margin-top: .666667em;
                    content: '';
                    height: .111em;
                    background-color: $brand-neutral-dark;
                }
            }
        }
    }
    .two-col-block__statement {
        h1,h2,h3,h4,h5,h6 {
            font-weight: 200;
        }
    }
    .two-col-block__content {
        h1,h2,h3,h4,h5,h6 {
            font-weight: 600;
        }
    }
    &.two-col-block--light-blue {
        background-color: $brand-neutral-med;
        .two-col-block__header--single .two-col-block__heading::after {
            background-color: #fff;
        }
        .two-col-block__header--full {
            border-color: #fff;
        }
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        padding-top: 3.75em;
        padding-bottom: 5em;  
        .two-col-block__header--full {
            padding-bottom: 1.875em;
            margin-bottom: 1.875em;
        }
        .two-col-block__header--single {
            margin-bottom: 3.125em;
        }      
        .two-col-block__heading:not(:first-child) {
            margin-top: .461em; // 12px
        }
        .two-col-block__sub-heading:not(:first-child) {
            margin-top: .888em; // 16px
        }
        .two-col-block__statement {
            margin-bottom: 1.125em;
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        padding-top: 7.5em;
        padding-bottom: 7.5em;
        .two-col-block__header--full {
            padding-bottom: 2.5em;
            margin-bottom: 2.5em;
        } 
        .two-col-block__header--single {
            margin-bottom: 3.75em;
        } 
        .two-col-block__heading:not(:first-child) {
            margin-top: .333em;
        }
        .two-col-block__sub-heading:not(:first-child) {
            margin-top: .5454em;
        }
    }
}

/*  PERCENTAGE LIST
    ============================= */
.percentages-list {
    .percentages-list__item {
        display: flex;
        align-items: center;
        canvas {
            position: relative;
            z-index: 1;
            display: block;
            width: 86px;
            height: 86px;
            margin: 0;
        }
    }
    &__chart-container {
        position: relative;
        display: block;
        width: 86px;
        height: 86px;
        margin-right: 1.5em;
    }
    &__chart-label {
        @extend .absolute-full;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        border: 6px solid $brand-neutral-med;
        border-radius: 50%;
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        margin-top: 3em;
        .percentages-list__item {
            &:not(:last-child) {
                margin-bottom: 1.5em;
            }
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        margin-top: 3.75em;
        row-gap: 1.5em;      
    }
}

/*  TWO COLUMN INDICATOR
    ============================= */
.two-col-indicator {
    @media screen and (max-width: 767px) and (orientation: portrait){
        margin-top: 3em;
        .two-col-indicator__cols {
            & > div {
                margin-top: 1.5em;                
            }
        }
        .two-col-indicator__sub-heading {
            margin-bottom: 0.714em;
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        margin-top: 3.75em;
        .two-col-indicator__cols {
            margin-top: 1.5em;
        }        
        .two-col-indicator__sub-heading {
            margin-bottom: 1.142em;
        }
    }
}

/*  CITATIONS
    ============================= */
.citations {
    &__inner {
        border-top: 2px solid $brand-neutral-med;
    }
    @media screen and (max-width: 767px) and (orientation: portrait){
        .citations__inner {
            padding-top: 2.125em;
        }
    }
    @media not screen and (max-width: 767px) and (orientation: portrait){
        .citations__inner {
            padding-top: 4.75em;
        }
    }
<<<<<<< Updated upstream
}
=======

/*  STICKY CARD SCROLLER
    ============================= */
    .card-scroller {
        background-color:$brand-neutral-med;
        @media not screen and (max-width: 767px) and (orientation: portrait){
            padding: calc(80/16 * 1em) 0;
            &__cards {
                &.mobile {
                    display:none;
                }
            }
            &__col {
                width:50%;
            }
            &__heading {
                position:sticky;
                top:140px;
            }
        }
        @media screen and (max-width: 767px) and (orientation: portrait){
            padding: calc(60/16 * 1em) 0;
            &__cards {
                &.desktop {
                    display:none;
                }
            }
            &__inner {
                flex-direction:column;
            }
        }
        &__inner {
            display:flex;
            justify-content: space-between;
        }

        .single-card {
            background-color:#fff;
            box-shadow:rgba(1,15,58,0.12) 0px 1px 4px;
            margin-bottom:1em;
            padding-top:calc(40/16 * 1em);
            padding-bottom:calc(40/16 * 1em);
            padding-right:calc(80/16 * 1em);
            &__copy {
                padding-left:calc(40/16 * 1em);
            }
            &__title {
                border-bottom: thin solid $brand-neutral-dark;
                padding-bottom:calc(12/22 * 1em);
                padding-left:calc(40/22 * 1em);
            }
        }
    }
>>>>>>> Stashed changes
