@use "@material/card";

@include card.core-styles;

/*  BLOG POST
    ============================= */
    .post-card {
        display:flex;
        flex-direction:column;
        padding:20px;
        width:32%;
    }