body.wip {
    border-right:3px solid;
    
    /* small screens only */
    @media screen and (max-width:$mq-tablet) and (orientation: portrait){
        border-right-color:red;
    }
    /* xs screens only */
    @media screen and (min-width:$mq-xs-device) and (max-width:($mq-sm-device)) and (orientation: portrait){
        border-right-color:cyan;
    }
    /* monitors only */
    @media not screen and (max-width:$mq-tablet) and (orientation: portrait){
        border-right-color:blueviolet;
        // &.logged-in {
        //     padding-bottom: 28px;
        // }
    }
    
    /* no man's land - tablet to small desktop */
    @media screen and (min-width:$mq-tablet) and (max-width:$mq-sm-desktop){
        border-right-color:gold;
    }

    /* small monitors only */
    @media screen and (min-width:$mq-sm-desktop) and (max-width:$mq-container){
        border-right-color:green;
    }

    /* container to design width */
    @media screen and (min-width:$mq-container) and (max-width:$mq-laptop){
        border-right-color:greenyellow;
    }

    /* xlarge monitors */
    @media screen and (min-width:$mq-xl-desktop){
        border-right-color:hotpink;
    }

    /* high dpi devices only --> ipads */
    @media screen and (min-width:$mq-tablet) and (-webkit-min-device-pixel-ratio: 1.5){
        border-right-color:orange;
    }   

    .section-placeholder {
        background-color:$brand-neutral-light;
        border-bottom:thin solid $brand-neutral-light;
        color:$brand-primary;
        font-weight:500;
        display:block;
        padding:1em;
        &.on-hold {
            background-color:transparent;
            color:$brand-neutral-light;
        }
    }
}