/* all bps */
footer {
    background-image:url(theme/assets/img/illustrations/City_Footer.png);
    background-repeat:no-repeat;

    border-top:3px solid $brand-secondary-accent;
    clear:both;
    position:relative;

    .omaw-logo-link {
        display:block;
    }
    .footer {
        &__bottom {
            background-color:$brand-neutral-light;
            padding:28px;
            width:100%;
            &-inner {
                display:flex;
                justify-content:space-between;
            }
        }
        &__copyright span {
            line-height:1.6;
            display:inline-block;
        }
        &__inner {
            display:flex;
            justify-content:space-between;
        }
        &__nav {
            .menu,
            .sub-menu {
                display:flex;
                list-style-type:none;
                margin:0;
                padding:0;
                .menu-item {
                    padding-left:0;
                    &.menu-button {
                        position:relative;
                        a.menu-item-link {
                            @extend .button, .button--secondary;
                            font-size:14px;
                            font-size:.875em;
                            margin-left:0;
                        }
                        &-alt {
                            a.menu-item-link {
                                @extend .button, .button--alt;
                                font-size:initial;
                                margin-left:0;
                            }
                        }
                    }
                    &-has-children {
                        > .menu-item-link {
                            cursor:default;
                            display:block;
                            font-size:18px;
                            font-size:1.125em;
                            font-weight:600;
                            margin-bottom:0;
                        }
                        &.open {
                            > a.menu-item-link {
                                margin-bottom:16px;
                            }
                        }
                    }
                    &-link {
                        color:$brand-primary;
                        font-size:14px;
                        font-size:.875em;
                        font-weight:400;
                        line-height:22px;
                        text-decoration:none;
                    }
                }
            }
        }
    }
    .sub-menu {
        .menu-item {
            + .menu-item {
                margin-top:12px;
            }
        }
    }
}

// smallest devices
@media screen and (min-width:320px){
    footer {
        background-position: right -10px bottom 160px;
        background-size: 100%;
        padding-top:44px;
        .omaw-logo-link img.omaw-logo {
            max-width: 110px;
        }
        .footer {
            &__bottom {
                background-color:$brand-neutral-light;
                padding:28px;
                width:100%;
                &-inner {
                    flex-direction:column-reverse;
                }
            }
            &__col {
                display:flex;
                justify-content:space-between;
                + .footer__col {
                    padding-top:40px;
                }
                &--gutter {
                    display:none;
                }
            }
            &__inner {
                flex-direction:column;
                padding-right:20px;
                padding-left:20px;
                padding-bottom:90px;
            }
            &__links {
                // padding-left:60px;
                .button {
                    font-size:calc(12/16 * 1em);
                    padding:.5em 1em;
                    text-align:center;
                    width:100%;
                    + .button {
                        margin-top:16px;
                    }
                }
            }
            &__nav {
                flex:1;
                .menu {
                    font-size:16px;
                    flex-direction:column;
                    flex-wrap:wrap;
                    justify-content: space-between;
                    .menu-item-has-children {
                        margin-bottom:40px;
                        padding-left:0;
                        > .menu-item-link {
                            position:relative;
                            padding-right:36px;
                            &:after {
                                content:url(theme/assets/img/arrow.svg);
                                height:5px;
                                width:8px;
                                position:absolute;
                                top: 20px;
                                right: 12px;
                                transform: scaleY(-1);
                            }
                        }

                        .menu-item-link {
                            display:inline-block;
                            transition:.3s all ease-in-out;
                        }
                        &.open {
                            transition:.3s all ease-in-out;
                            > .menu-item-link {
                                &:after {
                                    transform: scaleY(1);
                                    top: 0;
                                }
                            }
                            .sub-menu-wrapper {
                                border-top-color: $brand-secondary-accent;
                                padding-top:10px;
                                padding-right:10px;
                            }
                        }
                    }
                    .sub-menu-wrapper {
                        border-top: 3px solid transparent;
                        max-height: 0;
                        overflow: hidden;
                        transition:max-height .3s ease-in-out;
                        .sub-menu {
                            align-items:baseline;
                            flex-direction:column;
                            .menu-item {
                                display:inline-block;
                                text-indent: 10px;
                            }
                        }
                    }
                }
            }
        }
        .social-media-list {
            margin-bottom:26px;
            &-item {
                &:first-of-type{
                    padding-left:0;
                }
            }
        }
    }
}


// mobile devices
@media screen and (min-width:375px){
    footer {
        background-position: right -20px bottom 160px;
        background-size: 130%;
    }
}


// mobile devices --> landscape only
@media screen and (min-width:500px) and (max-width:1024px) and (orientation:landscape){
    footer {
        background-position: right -20px bottom 110px;
        .omaw-logo-link img.omaw-logo {
            max-width:unset;
        }
        .footer {
            &__links {
                .button {
                    font-size:1em;
                    padding:1em 1.5em;
                    text-align:center;
                    width:100%;
                    + .button {
                        margin-top:16px;
                    }
                }
            }
        }
    }
}

// tablets
@media screen and (min-width:768px){
    footer {
        background-position:right -40px bottom 50px;
        background-size:120%;
        .omaw-logo-link img.omaw-logo {
            max-width:unset;
        }
        .footer {
            &__bottom-inner {
                flex-direction:row;
            }
            &__links {
                .button {
                    font-size:1em;
                    padding:1em 1.5em;
                    text-align:center;
                    width:100%;
                    + .button {
                        margin-top:16px;
                    }
                }
            }
        }
        .social-media-list {
            margin-bottom:0;
        }
    }
}

// reduced width browsers --> user has manually shrunk their viewport
@media screen and (min-width:768px) and (-webkit-device-pixel-ratio:1) {
    footer {
        background-size:90%;
    }
}

// small desktop --> monitors only
@media screen and (min-width:960px) and (-webkit-device-pixel-ratio:1) {
    footer {
        background-size: 525px;
        background-position: right -20px bottom 80px;
        .omaw-logo-link img.omaw-logo {
            max-width:142px;
            margin-bottom:32px;
        }
        .footer {
            &__col {
                flex-direction: column;
                justify-content: flex-start;
                + .footer__col {
                    padding-top:0;
                }
                &--gutter {
                    display:flex;
                    flex:1 1;
                }
            }
            &__inner {
                flex-direction: row;
                padding-bottom:60px;
            }
            &__nav {
                flex: 1 1 60%;
                .menu {
                    flex-direction:row;
                    justify-content:space-between;
                    .menu-item {
                        &-has-children {
                            margin-bottom:0;
                            > .menu-item-link {
                                display:block;
                                font-weight:600;
                                margin-bottom:16px;
                                &:after {
                                    display:none;
                                }
                            }
                        }
                    }
                    .sub-menu-wrapper {
                        border-top:none;
                        max-height:initial;
                        overflow:initial;
                        .sub-menu {
                            display:flex;
                            flex-direction:column;
                            .menu-item {
                                text-indent:0;
                            }
                        }
                    }
                }
            }
        }
    }
}


// tablets --> landscape only
@media screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:landscape){
    footer {
        background-position: right -20px bottom 120px;
    }
}
// large tablets --> portrait only
@media screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){
    footer {
        background-position: right -20px bottom 50px;
        background-size: 80%;
    }
}

// browser width == content width
@media screen and (min-width:1080px){
    footer {
        .footer {
            &__inner {
                padding-left:0;
                padding-right:0;
            }
        }
    }
}

// browser width == container width


// maximum width for any design elements
@media screen and (min-width:1920px){
    footer {
        
    }
}





/* monitors only */
// @media not screen and (max-width:$mq-sm-desktop) and (orientation: portrait){
//     footer {
//         background-size:525px;
//         background-position:right -20px top 20px;
//         padding-top:60px;

//         position: absolute;
//         bottom: 0;
//         width: 100%;

//         .omaw-logo-link {
//             margin-bottom:32px;
//             img.omaw-logo {
//                 max-width:142px;
//             }
//         }
//         .social-media {
//             &-list {
//                 &-item {
//                     &:last-of-type{
//                         padding-right:0;
//                     }
//                 }
//             }
//             &-icon {
//                 height:auto;
//                 width:18px;
//             }
//         }
//         .footer {
//             &__col {
//                 &--gutter {
//                     flex:1 1;
//                 }
//             }
//             &__inner {
//                 padding-bottom:40px;
//             }
//             &__membership {
//                 display:none;
//             }
//             &__nav {
//                 flex: 1 1 60%;
//                 .menu {
//                     justify-content:space-between;
//                     .menu-item {
//                         &-has-children {
//                             margin-bottom:16px;
//                             // padding-left:60px;
//                             // padding-left:calc((60 / 960) * 100%);
//                             flex-shrink:0;
//                             .sub-menu-wrapper {
//                                 padding-top:16px;
//                             }
//                         }
//                         // &.menu-button {
//                         //     padding-left:60px;
//                         //     padding-left:calc((60 / 960) * 100%);
//                         // }
//                     }
//                 }
//                 .sub-menu {
//                     flex-direction:column;
//                     .menu-item {
//                         transition:.3s all ease-in-out;
//                         &:hover {
//                             text-decoration: underline;
//                             transition:.3s all ease-in-out;
//                             .menu-item-link {
//                                 color:$brand-secondary;
//                             }
//                         }
//                     }
//                 }
//             }
//             &__copyright {
//                 span {
//                     font-size:12px;
//                     font-size:calc(12/16 * 1em);
//                 }
//             }
//         }
//     }
// }

/* xlarge monitors */
// @media screen and (min-width:$mq-xl-desktop){
//     footer {
//         background-position: top right 230px;
//     }
// }

/* small screens only */
// @media screen and (max-width:$mq-sm-desktop) and (orientation: portrait){
//     footer {
//         background-position: right -30px bottom 140px;
//         background-size: 160%;
//         padding-top:44px;
//         .omaw-logo-link {
//             img.omaw-logo {
//                 max-width:110px;
//             }
//         }
//         .social-media-list {
//             margin-bottom:26px;
//             &-item {
//                 &:first-of-type{
//                     padding-left:0;
//                 }
//             }
//         }
//         .footer {
//             &__bottom {
//                 background-color:$brand-neutral-light;
//                 padding:28px;
//                 width:100%;
//                 &-inner {
//                     flex-direction:column-reverse;
//                 }
//             }
//             &__col {
//                 display:flex;
//                 justify-content:space-between;
//                 + .footer__col {
//                     padding-top:40px;
//                 }
//                 &--gutter {
//                     display:none;
//                 }
//             }
//             &__inner {
//                 flex-direction:column;
//                 padding-right:20px;
//                 padding-left:20px;
//                 padding-bottom:90px;
//             }
//             &__links {
//                 // padding-left:60px;
//                 .button {
//                     font-size:calc(12/16 * 1em);
//                     padding:.5em 1em;
//                     text-align:center;
//                     width:100%;
//                     + .button {
//                         margin-top:16px;
//                     }
//                 }
//             }
//             &__nav {
//                 flex:1;
//                 .menu {
//                     font-size:16px;
//                     flex-direction:column;
//                     flex-wrap:wrap;
//                     justify-content: space-between;
//                     .menu-item-has-children {
//                         margin-bottom:40px;
//                         padding-left:0;
//                         > .menu-item-link {
//                             position:relative;
//                             padding-right:36px;
//                             &:after {
//                                 content:url(theme/assets/img/arrow.svg);
//                                 height:5px;
//                                 width:8px;
//                                 position:absolute;
//                                 top: 20px;
//                                 right: 12px;
//                                 transform: scaleY(-1);
//                             }
//                         }

//                         .menu-item-link {
//                             display:inline-block;
//                             transition:.3s all ease-in-out;
//                         }
//                         &.open {
//                             transition:.3s all ease-in-out;
//                             > .menu-item-link {
//                                 &:after {
//                                     transform: scaleY(1);
//                                     top: 0;
//                                 }
//                             }
//                             .sub-menu-wrapper {
//                                 border-top-color: $brand-secondary-accent;
//                                 padding-top:10px;
//                                 padding-right:10px;
//                             }
//                         }
//                     }
//                     .sub-menu-wrapper {
//                         border-top: 3px solid transparent;
//                         max-height: 0;
//                         overflow: hidden;
//                         transition:max-height .3s ease-in-out;
//                         .sub-menu {
//                             align-items:baseline;
//                             flex-direction:column;
//                             .menu-item {
//                                 display:inline-block;
//                                 text-indent: 10px;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

/* xs screens only */
// @media screen and (min-width:$mq-xs-device) and (max-width:$mq-sm-device) and (orientation: portrait){
//     footer {
//         .omaw-logo-link {
//             .omaw-logo {
//                 margin-bottom:32px;
//                 max-width:none !important;
//             }
//         }
//         .footer {
//             &__col {
//                 + .footer__col {
//                     padding-top:0px;
//                 }
//             }
//             &__col,
//             &__nav .sub-menu {
//                 flex-direction:column;
//                 align-items:center;
//             }
//             &__links {
//                 padding-bottom:24px;
//                 padding-left:0;
//                 a {
//                     display:block;
//                     + a {
//                         margin-top:16px;
//                     }
//                 }
//             }
//             &__nav {
//                 padding-left:0;
//                 .menu {
//                     &-item-link {
//                         text-align:center;
//                         margin-bottom:0;
//                         &.menu-button {
//                             align-self:center;
//                         }
//                     }
//                     &-item-has-children {
//                         margin-bottom:16px;
//                     }
//                 }
//                 .sub-menu {
//                     .menu-item {
//                         text-indent:0 !important;
//                     }
//                 }
//             }
//         }
//     }
// }

/* high dpi devices only --> ipads */
// @media screen and (min-width:$mq-tablet) and (-webkit-min-device-pixel-ratio: 1.5),
// screen and (min-width:$mq-tablet) and (max-width:$mq-sm-desktop) and (-webkit-device-pixel-ratio: 1){
//     footer {
//         background-position: right -20px bottom 110px;
//         background-size:100%;
//         .omaw-logo-link {
//             img.omaw-logo {
//                 max-width:142px;
//             }
//         }
//         .footer {
//             &__nav {
//                 padding-left:0;
//             }
//             &__links {
//                 .button {
//                     font-size:initial;
//                     padding:calc(14/16 * 1em) calc(40/16 * 1em);
//                 }
//             }
//         }
//     }
// }


/*  CUSTOM -> add header padding until container fits on screen
    ============================= */
    // @media screen and (min-width:$mq-sm-desktop) and (max-width:1100px){
    //     footer {
    //         .footer {
    //             &__inner {
    //                 padding-left:calc((20 / 960) * 100%);
    //                 padding-right:calc((20 / 960) * 100%);
    //             }
    //         }
    //     }
    // }


