/*  HIDERS
    ============================= */

    // /* no mobile devices -> tablets and monitors only */
    // @media not screen and (max-width:$mq-sm-desktop) and (orientation: portrait) {
    //     .devices,
    //     .tablets {
    //         display:none !important;
    //     }
    // }

    // /* mobile devices only -> no monitors */
    // @media screen and (max-width:$mq-sm-desktop) and (orientation: portrait) {
    //     .monitors {
    //         display:none !important;
    //     }
    // }

    // /* high dpi devices */
    // @media screen and (min-width:$mq-sm-desktop) and (-webkit-min-device-pixel-ratio:1.5) and (orientation: portrait) {

    // }

// smallest devices
@media screen and (max-width:960px){
    .monitors {
        display: none !important;
    }
}

// tablets
@media screen and (min-width:768px){}

// small desktop
@media screen and (min-width:960px){
    .devices {
        display: none !important;
    }
}
// High DPI Devices -> force mobile menu instead of desktop dropdowns
@media screen and (min-resolution:192dpi){
    .devices.tablet {
        display: inherit !important;
    }
    .monitors {
        display:none !important;
    }
}

// High DPI Laptop Screens
@media screen and (min-width:1440px) and (max-height:900px) and (max-resolution:192dpi){
    .devices.tablet {
        display:none !important;
    }
    .monitors {
        display:inherit !important;
    }
}

// browser width = content width
@media screen and (min-width:1080px){}