/*  MOBILE MENU SCROLL LOCK
    ============================= */
    body.mobile-menu-open {
        overflow:hidden;
    }

/*  OMAW LOGO
    ============================= */
    .omaw-logo {
        display:block;
        position:relative;
        z-index:1;
    }

/* monitors only */
@media not screen and (max-width:$mq-tablet) and (orientation: portrait){
    body {
        // max-width:1920px;
        min-height:100vh;
        position:relative;
    }
    .layout {
        &--100 {
            max-width:100%;
        }
        &--1920 {
            margin:0 auto;
            max-width:1920px;
        }
        &--1440 {
            margin:0 auto;
            max-width:$mq-laptop;
        }
        &--1080 {
            margin:0 auto;
            max-width:1080px;
        }
        &--860 {
            margin:0 auto;
            max-width:860px;
        }
    }

    .page {
        margin:0 auto;
        // padding-bottom:500px;
        width:100%;
        &__header {
            padding-top:80px;
            padding-bottom:60px;
        }
        &__content {
            min-height:30vh; //for development purposes on empty pages
        }
    }
}

/* small screens only */
@media screen and (max-width:$mq-tablet) and (orientation: portrait){
    .page {
        position: relative;
        // padding-bottom:600px;
        &__header {
            padding-top:60px;
            padding-bottom:48px;
        }
        &__header,
        &__content {
            padding-right:20px;
            padding-left:20px;
        }
        &__content {
            min-height:15vh; //for development purposes on empty pages
            padding-bottom:80px;
        }
    }
}


/*  EXTENDED BG COLOR
    ============================= */
    @media not screen and (max-width: 767px) and (orientation: portrait){
        .extend-bg {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                bottom: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background-color: $brand-neutral-dark;
                z-index: -1;
            }
            &.extend-bg--right::after {
                right: 0;
                bottom: 0;
                left: 50%;
            }
            &.extend-bg--left {
                // matches default styles
            }
            &.bg{
                &-brand-primary::after {
                    background-color:$brand-primary;
                }
                &-brand-secondary::after {
                    background-color:$brand-secondary;
                }
                &-brand-neutral-light::after {
                    background-color:$brand-neutral-light;
                }
                &-brand-neutral-dark::after {
                    background-color:$brand-neutral-dark;
                }
                &-brand-secondary-accent::after {
                    background-color:$brand-secondary-accent;
                }
            }
        }
    }


/*  ILLUSTRATION with EXTENDED LINE
    ============================= */
    .drawn_bg {
        width: 43.0555555556%;
        &_wrapper {
            position: relative;
            img {
                display: block;
                width: 100%;
            }
        }
        &_tile {
            background-repeat: repeat-x;
            background-size: contain;
            bottom: 0;
            position: absolute;
            top: 0;
            width: 50vw;
        }
        &--left {
            .drawn_bg_tile {
                right: 100%;
            }
        }
        &--right {
            .drawn_bg_tile {
                left:100%;
            }
        }
    }