@mixin css-box-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@mixin nav-shadow {
    box-shadow:rgba(1,15,58,0.12) 0px 2px 8px;
}

@mixin extended-bg-color($class,$color) {
    // .image-copy__content::before, .image-copy__content::after {
    //     background-color:$brand-primary;
    // }
    #{$class}::before, #{$class}::after {
        background-color:$color;
    }
}