@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/drawer";
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;

.menu .menu-item.menu-button {
    a.menu-item-link { 
        @extend .button, .button--secondary;
        // font-size:14px;
        font-size:calc(14/16) + 0em;
        // margin-left:48px;
        // margin-left:calc(48/1080 * 100%);
    }
}
header {
    background-color:#fff;
    @include nav-shadow();
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    // width: 100vw;
    z-index: 20;
    &__inner {
        transition:.3s all ease-in-out;
    }
    .header {
        &__mobile-gutter {
            flex:1 1;
        }
    }
}

// smallest devices
@media screen and (min-width:320px),
(min-resolution:192dpi){
    header {
        padding:calc(24/16 * 1em) calc(20/16 * 1em);
        .header {
            &__logo {
                align-items:center;
                display:flex;
                justify-content:space-between;
                img.omaw-logo {
                    max-width:110px;
                }
            }
            &__mobile {
                &-cta {
                    .button {
                        font-size:10px;
                        font-size:calc(10/16 * 1em);
                        padding:calc(8/16 * 1em) 1em;
                    }
                }
                &-toggle {
                    margin-left:calc(40/768 * 100%);
                    cursor: pointer;
                    .mobile-toggle-input{
                        position: absolute;
                        display: block;
                        height: 32px;
                        width: 32px;
                        top: 20px;
                        left: 20px;
                        z-index: 5;
                        opacity: 0;
                        &:checked {
                            ~ #mobile-menu {
                                transform:translateX(0);
                                transition: transform 0.3s ease-in-out;

                                padding-bottom:calc(1em + env(safe-area-inset-bottom));
                            }
                            + #mobile-toggle-label #mobile-toggle {
                                background-color: $brand-primary;
                                border-radius:25px;
                            }
                        }
                    }
                }
            }
        }
        #mobile-menu {
            background-color: #fff;
            height: 100vh;
            overflow:scroll;
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            z-index: 55;
        
            transition: transform 0.3s ease-in-out;
            transform: translate(-250%);
            .mobile {
                /* the commented out styles below are the original design but don't fit on short devices */
                &-drawer {
                    align-items: center;
                    display: flex;
                    height:100%;
                    width:100%;
                    flex-direction: column;
                    -webkit-flex-direction: column;
                    // font-size:16px;
                    // padding:36px 20px 20px;
                    padding:5%;
                    &__content {
                        width:100%;
                    }
                    &__closer {
                        align-self:flex-end;
                        max-width:42px;
                        // padding-bottom:36px;
                        padding-bottom:5%;
                        .mobile-closer-icon {
                            max-height:23px;
                            width:auto;
                            //change svg color to $brand-secondary-accent
                            filter:invert(83%) sepia(22%) saturate(1533%) hue-rotate(342deg) brightness(105%) contrast(99%);
                        }
                    }
                    &__footer {
                        // padding-top:40px;
                        // padding-bottom:20px;
                        padding-top:calc(40/16 * 1em);
                        padding-bottom:calc(20/16 * 1em);
                        padding-bottom:30vh; // fix for ios devices with bottom address bar
        
                        align-items: center;
                        display: flex;
                        flex: 1 1;
                        flex-direction: column;
                        -webkit-flex-direction: column;
                        // justify-content: space-evenly;
                        width:100%;
                    }
                    &__social {
                        padding-top:10%;
                    }
                    .menu {
                        display: flex;
                        flex-direction: column;
                        -webkit-flex-direction: column;
                        flex-wrap: wrap;
                        list-style-type: none;
                        margin: 0;
                        max-height: 560px;
                        padding: 0;
                        width: 100%;
                        &-item-has-children {
                            &:not(.mobile-pos-1) {
                                flex:1 1 auto;
                            }
                            > .menu-item-link {
                                display:inline-block;
                                font-size:18px;
                                font-size:calc(18/16 * 1em);
                                font-weight:600;
                                margin-bottom:12px;
                            }
                        }
                        &-item.menu-button {
                            display:none;
                        }
                    }
                    .sub-menu {
                        margin:0;
                        padding:0;
                        list-style-type:none;
                        .menu-item {
                            padding-left:0;
                            &-link {
                                color:$brand-primary;
                                display:inline-block;
                                font-size:14px;
                                font-size:calc(14/16 * 1em);
                                padding-bottom:14px;
                                padding-top:14px;
                                text-decoration:none;
                                width:100%;
                            }
                        }
                    }
                }
                &-col {
                    &-left {
                        padding-right:27px;
                        border-right: 3px solid $brand-secondary-accent;
                    }
                    &-right {
                        border-left: 3px solid gold;
                        left: -3px;
                        padding-left: 27px;
                        position: relative;
                    }
                }
                &-pos {
                    &-1 {
                        padding-top:16px;
                    }
                    &-2 {
                        order:2;
                        padding-top:27px;
                    }
                    &-3 {
                        order:3;
                        padding-top:16px;
                    }
                }
                &-closer-input {
                    cursor: pointer;
                    display: block;
                    height: 32px;
                    left: 20px;
                    opacity: 0;
                    position: absolute;
                    top: 20px;
                    width: 32px;
                    z-index: 5;
                }
                &-toggle-icon {
                    display:block;
                    // height:22px;
                    height:auto;
                    width:30px;
                }
            }
        }
        #mobile-toggle {
            display:block;
            height:22px;
            width:30px;
            height:auto;
        }
        nav.header__main-menu {
            display:none;
        }
    }
}


// mobile devices
@media screen and (min-width:375px){
    header {
        .header {
            &__inner {
            }
            &__logo {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
            &__mobile {
                
            }
        }
    }
}

// mobile devices -> landscape only
@media screen and (min-width:500px) and (max-width:768px) and (orientation:landscape){
    header {
        padding:calc(24/16 * 1em) calc(45/16 * 1em);
        .responsive-font-size {
            font-size:2.9vw;
        }
    }
}

// tablets
@media screen and (min-width:768px){
    header {
        .responsive-font-size {
            font-size: 2.083333333333333vw;
        }
        .header {
            &__logo {
                justify-content:space-between;
                img.omaw-logo {
                    max-width:142px;
                }
            }
            &__mobile {
                &-gutter {
                    display:block;
                    flex:1 1;
                }
                &-cta .button {
                    font-size:initial;
                    padding-left:20px;
                    padding-right:20px;
                }
            }
        }
        #mobile-menu .mobile-drawer__social {
            padding-top:5%;
        }
    }
}

// High DPI Devices -> force mobile menu instead of desktop dropdowns
@media screen and (min-resolution:192dpi),
(min-width:1024px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:landscape),
(min-width:744px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){
    header {
        // padding:calc(20/16 * 1em) calc(40/16 * 1em);
        // padding: calc(20/16 * 1em) calc(45/16 * 1em);
        .header {
            &__inner {
                display:block;
            }
        }
        #mobile-menu .mobile-drawer {
            max-width:70vw;
            margin-left:auto;
            margin-right:auto;
        }
    }
}

// small desktop - monitors only
@media screen and (min-width:960px) and (-webkit-device-pixel-ratio:1),
(min-width:1440px) and (max-height:900px) and (max-resolution:192dpi){
    header {
        padding:0;
        .header {
            &__inner {
                display:flex;
                justify-content: space-between;
                padding-left:calc((20 / 960) * 100%);
                padding-right:calc((20 / 960) * 100%);
            }
        }
        nav.header__main-menu {
            display:block;
            flex:1 1 auto;
        }
        .menu-main-menu-container {
            display:block;
            height:inherit;
            list-style-type:none;
            .menu {
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-pack:flex-end;
                -ms-flex-pack:flex-end;
                justify-content:flex-end;
                height:100%;
                margin:0;
                padding:0;
                &-item {
                    &.menu-button {
                        align-items: center;
                        display: flex;
                        padding-left:calc(48/1080 * 100%);
                    }
                    &:not(.menu-button) {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        cursor: pointer;
                        // padding: 0 1em;
                        margin:0;
        
                        color:$brand-primary;
                        font-weight:500;
                        // font-size:18px;
                        font-size:calc(18/16) + 0em;
                        // line-height:22px;
                        line-height:calc(22/16) + 0em;
                        // padding:24px 16px;
                        padding: 35px calc(16/1080 * 100%);
                        z-index:1;
                    }
                    &-has-children {
                        align-items:center;
                        background-color:#fff;
                        border-bottom:3px solid transparent;
                        cursor:default;
                        // height:82px;
                        position:relative;
                        &:hover {
                            border-bottom:3px solid $brand-secondary-accent;
                            .sub-menu-wrapper {
                                display:block;
                                transition:.3s all ease-in-out;
                            }
                            > .menu-item-link:after {
                                // transform: rotate(0deg);
                                // top:0;
                                transform:scaleY(1);
                                top:0;
                                // transition:.3s all linear;
                            }
                        }
                        > .menu-item-link {
                            position:relative;
                            padding-right:36px;
                            &:after {
                                content:url(theme/assets/img/arrow.svg);
                                height:5px;
                                width:8px;
                                position:absolute;
                                top:24px;
                                right:12px;
                                // transform: rotate(180deg);
                                transform:scaleY(-1);
                                // transition:.3s all linear;
                            }
                        }
                    }
                    &-link {
                        color:$brand-primary;
                        position:relative;
                        z-index:1;
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        font-weight:600;
                        -webkit-transition:color .15s ease-in-out;
                        transition:color .15s ease-in-out;
                        text-decoration:none;
                    }
                }
                .sub-menu {
                    padding-left:0;
                    &-wrapper {
                        background-color:#fff;
                        display:none;
                        padding:24px 0;
                        position:absolute;
                        left:0;
                        transition:.3s all ease-in-out;
                        width:100%;
                        @include nav-shadow();                    
                        top:98px;
                        .menu-item {
                            display:block;
                            font-size:14px;
                            line-height:1.2;
                            padding-top:8px;
                            padding-bottom:8px;
                            &:last-of-type {
                                margin-bottom:0;
                            }
                            &-link {
                                color:$brand-primary;
                                font-weight:400;
                                padding-left:16px;
                                padding-right:16px;
                            }
                            &:hover {
                                background-color:$brand-neutral-med;
                            }
                        }
                    }
                }
            }
        }
    }
}

// large tablets -> landscape only
@media screen and (min-width:1024px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:landscape){
    header {
        .header {
        }
        #mobile-menu {
            .mobile-drawer {
                padding-left:15%;
                padding-right:15%;
                &__closer {
                    padding-bottom:0;
                    position:fixed;
                    z-index:10;
                }
            }
        } 
        .responsive-font-size {
            font-size: 1.5625vw;
        }
    }
}

// browser width = content width
@media screen and (min-width:1080px){
    header {
        .header {
            &__inner {
                padding-left:0;
                padding-right:0;
            }
        }
    }
    nav.header__main-menu {
        .menu-main-menu-container {
            .menu {
                &-item-has-children {
                    align-items:center;
                    background-color:#fff;
                    border-bottom:3px solid transparent;
                    cursor:default;
                    // height:82px;
                    position:relative;
                    &:hover {
                        border-bottom:3px solid $brand-secondary-accent;
                        .sub-menu-wrapper {
                            display:block;
                            transition:.3s all ease-in-out;
                        }
                        > .menu-item-link:after {
                            // transform: rotate(0deg);
                            // top:0;
                            transform:scaleY(1);
                            top:0;
                            // transition:.3s all linear;
                        }
                    }
                    > .menu-item-link {
                        position:relative;
                        padding-right:36px;
                        &:after {
                            content:url(theme/assets/img/arrow.svg);
                            height:5px;
                            width:8px;
                            position:absolute;
                            top:24px;
                            right:12px;
                            // transform: rotate(180deg);
                            transform:scaleY(-1);
                            // transition:.3s all linear;
                        }
                    }
                }
            }
        }
    }
}

// browser width = container width
@media screen and (min-width:1440px){

}