/* OVERLAY */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color:rgba(232,241,242,.9);
    overflow-y: auto;
    color: $brand-primary;
    opacity: 0;
    .overlay__close {
        display: block;
        font-size: 2.125em;
        margin-left: auto;
        svg {
            display: block;
            width: 1em;
            height: 1em;
            path {
                fill: $brand-primary;
                transition: fill .15s ease-in-out;
            }
        }
        &:hover {
            svg {
                path {
                    fill: #cc0000;
                }
            }
        }
    }
    .overlay__outer {
        display: table;
        width: 100%;
    }
    .overlay__inner {
        display: table-cell;
        vertical-align: middle;
        height: 100vh;
    }
    .overlay__box {
        background-color: #fff;
        box-shadow: 0px .25em 1em rgba(1,15,58,0.12);
    }
    .overlay__image {
        display: block;
        width: 100%;
        max-width: 12.5em;
    }
    .overlay__description {
        padding-bottom: 1.333em;
        border-bottom: 2px solid $brand-neutral-med;
        &:not(:first-child){
            margin-top: 3.333em;
        }
    }
    .overlay__content {
        &:not(:first-child){
            margin-top: 1.25em;
        }
    }
    .social-media-list {
        margin-top: 1.25em;
    }
    @media screen and (max-width: 767px){
        .overlay__box {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding: 1.25em 20px;
            &.overlay__box--content{
                padding-bottom: 9em;
            }
            &.overlay__box--video{
                padding-bottom: 5.25em;
                .overlay__main {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1 0 auto;                    
                }
            }
        }
        .overlay__header {
            margin-bottom: 1.875em;
        }
        .overlay__profile {
            text-align: center;
            padding-bottom: 3.75em;
        }
        .overlay__image {
            margin: 0 auto 2em auto;
        }
        .social-media-list {
            justify-content: center;
        }
        .social-media-list-item {
            padding:0 24px;
        }
        .overlay__position {
            margin-top: .444em;
        }
    }
    @media not screen and (max-width: 767px){
        .overlay__inner {
            padding-top: 3.75rem;
            padding-bottom: 3.75rem;    
            padding-left: 3.75em;
            padding-right: 3.75em;        
        }
        .overlay__box {
            padding: 2.5em 3.75em 3.125em 3.75em;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 25.933609958506228% 69.50207468879668%; 
            grid-template-rows: auto auto; 
            gap: 0px 4.564315352697095%; 
            grid-template-areas: 
              "header header"
              "profile bio"
              "main main"; 
        }
        .overlay__header {
            margin-bottom: 2.5em;
            grid-area: header;
        }
        .overlay__main {
            grid-area: main;
        }
        .overlay__profile {
            grid-area: profile;
        }
        .overlay__image {
            margin-bottom: 2.5em;
        }
        .overlay__position {
            margin-top: .363636em;
        }
        .overlay__bio {
            grid-area: bio;
        }
        .social-media-list-item {
            padding:0 24px 0 0;
        }
    }
}

.open-overlay {
    overflow: hidden;
    .overlay {
        display: block;
        animation: .15s ease-in-out normal forwards running fadeIn;
    }
}

