.new-member {
    .main {
        color:$brand-primary;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-areas: 
          "content form"
          "logos form";
    }
    &__content { grid-area: content; }
    &__logos { grid-area: logos; }
    &__form { grid-area: form; 
        .gform_wrapper {
            .gform_footer {
                justify-content:flex-end;
            }
        }
    }
    &__logos {
        margin-top:calc(80/16 * 1em);
        .logo-list {
            margin-top:calc(40/16 * 1em);
            justify-content: flex-start;
        }
    }
    &__title {
        font-size:calc(36/16 * 1em);
        font-weight:600;
    }
    &__subtitle {
        font-weight:600;
        margin-top:calc(40/22 * 1em);
    }
}

/* monitors only */
@media not screen and (max-width: 767px) and (orientation: portrait){
    .new-member {
        .main {
            color:$brand-primary;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: minmax(0,55%); 
            grid-template-rows: auto auto; 
            // gap: 0px 80px; 
            gap: 0 calc(80/1080 * 100%);
            grid-template-areas: 
              "content form"
              "logos form";
            padding-top:calc(40/16 * 1em);
        }
        &__logos {
            margin-top:calc(80/16 * 1em);
            .logo-list {
                margin-top:calc(40/16 * 1em);
            }
        }
        &__title {
            font-size:calc(36/16 * 1em);
        }
    }
}
/* devices only */
@media screen and (max-width: 767px) and (orientation: portrait){
    .new-member {
        .main {
            grid-template-areas: "content" "form" "logos";
            // padding-left:calc(20/16 * 1em);
            // padding-right:calc(20/16 * 1em);
        }
        &__form {
            min-height:360px;
            margin-top:calc(32/16 * 1em);
            .gform_wrapper {
                .gform_button {
                    line-height: 1 !important;
                    padding-top: calc(10/16 * 1em);
                    padding-bottom: calc(10/16 * 1em);
                }
            }
        }
        &__logos {
            margin-top:calc(60/16 * 1em);
            .logo-list {
                margin-top:calc(32/16 * 1em);
            }
        }
        &__title {
            font-size:calc(26/16 * 1em);
        }
        &__subtitle {
            font-weight:600;
            font-size:calc(20/16 * 1em);
            margin-top:calc(32/16 * 1em);
        }
        &__prefooter {
            .image-copy.image-copy--image-right {
                .image-copy__content {

                }
            }
        }
    }
}
/* < container width */
@media screen and (max-width: 1080px){
    .new-member .main {
        // padding-left:calc(20/16 * 1em);
        // padding-right:calc(20/16 * 1em);
    }
}


.member-exp {
    @media screen and (min-width:768px) and (max-width: 1080px){
        .header-simple-yellow .header-simple-yellow__inner.layout--1440 {
            max-width: 95%;
        }
    }
}