/*  SWIPER ONLY MIXINS
    ============================= */

@mixin slider-pagination-bullet-line(){
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    background-color: $brand-neutral-dark;
    transition: background-color .15s ease-in-out;
}
:root {
    --swiper-pager-num: calc(36/16 * 1em);
}


.swiper {
    /*  CUSTOM PAGINATION BULLETS
        ============================= */
        &-pagination {
            display: flex;
            &[data-index="2"], &[data-index="3"], &[data-index="4"], &[data-index="5"], &[data-index="6"] {
                .swiper-pagination-bullet:nth-child(1):after { background-color: $brand-primary;}
            }
            &[data-index="3"], &[data-index="4"], &[data-index="5"], &[data-index="6"] {
                .swiper-pagination-bullet:nth-child(2):after { background-color: $brand-primary;}
            }
            &[data-index="4"], &[data-index="5"], &[data-index="6"] {
                .swiper-pagination-bullet:nth-child(3):after { background-color: $brand-primary;}
            }
            &[data-index="5"], &[data-index="6"] {
                .swiper-pagination-bullet:nth-child(4):after { background-color: $brand-primary;}
            }
            &[data-index="6"] {
                .swiper-pagination-bullet:nth-child(5):after { background-color: $brand-primary;}
            }
        }
        &-pagination-bullet {
            position: relative;
            margin: 0 !important;
            display: flex !important;
            align-items: center;
            justify-content: center;    
            background-color: #fff;
            border:1px solid $brand-primary;
            color: $brand-primary;
            width: 2.166667em; 
            height: 2.166667em;
            font-size: .75em;
            font-weight:bold;
            line-height: 1.833em;
            opacity: 1;
            text-align: center;
            transition: background-color .15s ease-in-out, color .15s ease-in-out;
        }
        &-pagination-bullet-active {
            background-color: $brand-primary;
            color: #fff;
        }
        @media screen and (max-width: 767px) and (orientation: portrait){
            .swiper-pagination {
                bottom: 2em;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
                top: auto;
                right: auto;
            }
            .swiper-pagination-bullet {
                &:not(:last-child) {
                    margin-right: 3em!important;
                    margin-right: var(--swiper-pager-num) !important;
                    &:after {
                        @include slider-pagination-bullet-line();
                        top: 50%;
                        left: 100%;
                        transform: translateY(-50%);                        
                        height: 2px;
                        width: calc(3em + 2px);
                        width:calc(var(--swiper-pager-num) + 2px);
                    }       
                }
            }
        }
        @media not screen and (max-width: 767px) and (orientation: portrait){
            .swiper-pagination {
                left: 2.5em;
                right: auto;
                flex-direction: column;
            }
            .swiper-pagination-bullet {
                &:not(:last-child) {
                    margin-bottom: 3em!important;
                    margin-bottom: var(--swiper-pager-num) !important;
                    &:after {
                        @include slider-pagination-bullet-line();
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 2px;
                        height: calc(3em + 2px);
                        height: calc(var(--swiper-pager-num) + 2px);
                    }                    
                }
            }
        }

    &.cards.mobile {
        overflow: visible;
        padding-bottom: 2.75em;
        .swiper-button-next, .swiper-button-prev {
            top: 100%;
        }
        &.cards--cta-after {
            padding-bottom: 3.75em;
            margin-bottom: -1.875em;
        }
        .swiper-button-next, .swiper-button-prev {
            
            transform: none;
            padding: 0.625em;
            width: 1.875em;
            height: 1.875em;
            &:after {
                content: '';
                font-size: 1em;
                width: 0.625em;
                height: 0.625em;
                border-top: 2px solid #000;
                transform-origin: top;
            }
        }
        .swiper-button-prev {
            &:after {
                border-left: 2px solid #000;
                transform: rotate(-45deg);
            }
        }
        .swiper-button-next {
            left: 3.75em;
            &:after {
                border-right: 2px solid #000;
                transform: rotate(45deg);
            }
        }
    }
}