/*  BRAND COLORS
    ============================= */
    $brand-primary:#010F3A;
    $brand-secondary:#016FB9;
    $brand-secondary-accent:#FECA30;
    $brand-neutral-dark:#C3D7D9;
    $brand-neutral-med:#E8F1F2;
    $brand-neutral-light:#F4F4F4;
    $text-grey: #747474;
    $line-grey: #E9E9E8;


/*  MEDIA QUERY BREAKPOINTS
    ============================= */
    $mq-xs-device: 360px;
    $mq-sm-device: 411px;
    $mq-tablet: 767px;
    $mq-sm-desktop: 960px;
    $mq-desktop: 1024px;
    $mq-container: 1080px;
    $mq-laptop: 1440px;
    $mq-xl-desktop: 1920px;

/*  MATERIAL THEME OVERRIDE
    ============================= */
    @use "@material/theme" with (
        $primary: $brand-primary,
        $secondary: $brand-secondary,
        $on-primary: $brand-secondary-accent,
        $on-secondary: $brand-neutral-light,
    );